body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    background-color: lightgray;
    margin: 10px;
}

.display {
    height: 100px;
    margin: 20px;
    background-color: silver;
}

.buttons {
    display: flex;
    height: 300px;
    padding: 20px;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}

.numbers div {
    box-sizing: border-box;
    flex: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    border-style: solid;
    border-width: 1px;
    height: 20%;
}

.operators div  {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    border-style: solid;
    border-width: 1px;
    
}

.operators {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.button {

}